@model JsonMVC.Web.Models.UsuarioViewModel

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formuser" }))
{
	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-md-12">
			<section class="panel">
				<header class="panel-heading">
					Listagem de Clientes <span class="tools pull-right">
						<a href="javascript:;" class="fa fa-chevron-down"></a>
						<a href="javascript:;" class="fa fa-times"></a>
					</span>
				</header>
				<div class="panel-body">
					<button class="btn btn-round btn-info" id="btnAdicionar" type="button">Adicionar</button>
					<table id="users-table" class="table table-hover table-responsive">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Email</th>
								<th>Telefone</th>
								<th>Celular</th>
								<th>RG</th>
								<th>CPF</th>
								<th>Facebook</th>
								<th>Twitter</th>
								<th>Instagram</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<button class="btn btn-round btn-success" id="btnGravar" type="button">Gravar</button>
				</div>
			</section>
		</div>
	</div>

	<!-- Modal-content -->
	<div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Atenção</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<h4><span class="sr-only">Erro:</span></h4>
						<h4>
							<div id="lblErro"></div>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close InfoModalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalInfoLabel"><i class="fa fa-info-circle" aria-hidden="true"></i>Informação</h4>
				</div>
				<div class="modal-body">
					<div id="lblInformation"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-round btn-primary InfoModalClose" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/usuario")
}